.error {
  color: red;
}
.character {
  &.correct {
    background-color: green;
  }
  &.differentLocation {
    background-color: yellow;
  }
  &.wrong {
    background-color: gray;
  }
}
