.error {
  color: red;
}
.toCenter {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.character {
  border: 1px solid #000;
  height: 60px;
  width: 50px;
  &.correct {
    background-color: green;
    color: white;
  }
  &.differentLocation {
    background-color: orange;
    color: white;
  }
  &.wrong {
    background-color: gray;
    color: white;
  }
}
