.error {
  color: red; }

.toCenter {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.character {
  border: 1px solid #000;
  height: 60px;
  width: 50px; }
  .character.correct {
    background-color: green;
    color: white; }
  .character.differentLocation {
    background-color: orange;
    color: white; }
  .character.wrong {
    background-color: gray;
    color: white; }
